<!-- vendor css -->
<link href="../../../../assets/css/all.min.css" rel="stylesheet">
<link href="../../../../assets/css/ionicons.min.css" rel="stylesheet">
<link href="../../../../assets/css/github.css" rel="stylesheet">
<link href="../../../../assets/css/select2.min.css" rel="stylesheet">

<!-- Bracket CSS -->
<link rel="stylesheet" href="../../../../assets/css/theme_admin/bracket.css">

<div class="br-mainpanel">
    <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <!-- <a href="#" class="btn btn-outline-secondary mr-1 mb-1" (click)="toggleSidebar()">Toggle Sidebar</a> -->
            <a class="breadcrumb-item" href="#">Home</a>
            <a class="breadcrumb-item" href="#">Member</a>
            <span class="breadcrumb-item active">Update Member Details</span>
        </nav>
    </div><!-- br-pageheader -->
    <!-- <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div> -->
    <div class="br-pagetitle">
        <i class="fa fa-book" aria-hidden="true"></i>
        <div>
            <h4>Update Profile</h4>
            <p class="mg-b-0">You are not eligible to update some information.</p>
        </div>
    </div><!-- d-flex -->

    <div class="br-pagebody">
        <!-- start forms-->
        <div class="br-section-wrapper">
            <!-- white space-->
            <form [formGroup]="updateMemberForm" (ngSubmit)="updateMember(updateMemberForm.value)">
                <div class="row mg-t-0">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-xl-10">
                        <!-- start member details form  -->

                        <div class="form-layout form-layout-4">
                            <h6 class="br-section-label">Member Details</h6>
                            <!-- <p class="br-section-text">pleas enter your details for the registration.</p> -->

                            <div class="form-group">
                                <label class="form-control-label">Full Name: <span class="tx-danger">*</span></label>
                                <input class="form-control wd-auto" type="text" formControlName="fullName" [ngClass]="{'form-control': true,
                                    'is-invalid': fullName.invalid && fullName.touched,
                                    'is-valid': fullName.valid}" placeholder="Enter fullname">
                                <small id="fnHelp" *ngIf="fullName.invalid && fullName.touched"
                                    class="form-text custom-invalid-feedback" style="color: red;">Field is
                                    required</small>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">First Name: <span class="tx-danger"></span></label>
                                <input class="form-control wd-auto" type="text" formControlName="firstName" [ngClass]="{'form-control': true,
                                    'is-invalid': firstName.invalid && firstName.touched,
                                    'is-valid': firstName.valid}" placeholder="Enter firstname">
                                <small id="fnHelp" *ngIf="firstName.invalid && firstName.touched"
                                    class="form-text custom-invalid-feedback" style="color: red;">Field is
                                    required</small>
                            </div>

                            <div class="form-group ">
                                <label class="form-control-label">Last Name: <span class="tx-danger"></span></label>
                                <input class="form-control wd-auto" type="text" formControlName="lastName" [ngClass]="{'form-control': true,
                                    'is-invalid': lastName.invalid && lastName.touched,
                                    'is-valid': lastName.valid}" placeholder="Enter lastname">
                                <small id="fnHelp" *ngIf="lastName.invalid && lastName.touched"
                                    class="form-text custom-invalid-feedback" style="color: red;">Field is
                                    required</small>
                            </div>

                            <div class="d-md-flex mg-b-30">
                                <div class="form-group mg-b-0">
                                    <label>Telephone No: <span class="tx-danger">*</span></label>
                                    <input type="text" formControlName="telephone1" [ngClass]="{'form-control': true,
                                        'is-invalid': telephone1.invalid && telephone1.touched,
                                        'is-valid': telephone1.valid}" class="form-control" placeholder="0xxxxxxxxx">
                                    <small id="fnHelp" *ngIf="telephone1.invalid && telephone1.touched"
                                        class="form-text custom-invalid-feedback" style="color: red;">Field is
                                        required</small>
                                </div>
                                <div class="form-group mg-b-0 mg-md-l-20 mg-t-20 mg-md-t-30">
                                    <input type="text" formControlName="telephone2" class="form-control "
                                        placeholder="0xxxxxxxxx">
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="form-control-label">Address: <span class="tx-danger">*</span></label>
                                <input class="form-control wd-auto" type="text" formControlName="addressLine1"
                                    [ngClass]="{'form-control': true,
                                'is-invalid': addressLine1.invalid && addressLine1.touched,
                                'is-valid': addressLine1.valid}" placeholder="Enter street">
                                <small id="fnHelp" *ngIf="addressLine1.invalid && addressLine1.touched"
                                    class="form-text custom-invalid-feedback" style="color: red;">Field is
                                    required</small>
                            </div>
                            <div class="d-md-flex mg-b-30">
                                <div class="form-group mg-b-0">
                                    <input type="text" formControlName="addressLine2" class="form-control"
                                        placeholder="city">
                                </div><!-- form-group -->
                                <div class="form-group mg-b-0 mg-md-l-20 mg-t-20 mg-md-t-0">
                                    <input type="text" formControlName="addressLine3" class="form-control"
                                        placeholder="">
                                </div><!-- form-group -->
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Email Address: <span
                                        class="tx-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="email" [ngClass]="{'form-control': true,
                                    'is-invalid': email.invalid && email.touched,
                                    'is-valid': email.valid}" placeholder="Enter email address">
                                <small id="fnHelp" *ngIf="email.invalid && email.touched"
                                    class="form-text custom-invalid-feedback" style="color: red;">Field is
                                    required</small>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">NIC No: <span class="tx-danger">*</span></label>
                                <input class="form-control" type="text" formControlName="nic" [ngClass]="{'form-control': true,
                                    'is-invalid': nic.invalid && nic.touched,
                                    'is-valid': nic.valid}" placeholder="Enter national NIC no">
                                <small id="fnHelp" *ngIf="nic.invalid && nic.touched"
                                    class="form-text custom-invalid-feedback" style="color: red;">Field is
                                    required</small>
                            </div>



                            <p class="mg-b-10">Gender : <span class="tx-danger">*</span></p>
                            <label class="rdiobox">
                                <input type="radio" value="male" formControlName="gender"> <span>Male</span>
                            </label>
                            <label class="rdiobox">
                                <input type="radio" value="female" formControlName="gender"> <span>Female</span>
                            </label>
                            <small id="fnHelp" *ngIf="gender.invalid && gender.touched"
                                class="form-text custom-invalid-feedback" style="color: red;">Field is
                                required</small>
                        </div><!-- form-layout -->
                    </div>
                    <div class="col-md-1"></div>



                    <!--start form-layout-footer -->
                    <div class="row mg-t-30 col-md-12">
                        <div class="col-sm-8 mg-l-auto">
                            <div class="form-layout-footer " style="color: transparent;">
                                <button type="submit" [disabled]="errorMsg || updateMemberForm.invalid"
                                    class="btn btn-info">Submit
                                    Form</button> |
                                <button class="btn btn-secondary" type="reset">Cancel</button>

                            </div>
                        </div>
                    </div>

                </div><!-- col-6 -->
            </form>
        </div>
        <!--end white space-->
    </div>
</div>

<script src="../../../../assets/js/jquery.min.js"></script>
<script src="../../../../assets/js/datepicker.js"></script>
<script src="../../../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../../../assets/js/perfect-scrollbar.min.js"></script>
<script src="../../../../assets/js/moment.min.js"></script>
<script src="../../../../assets/js/jquery.peity.min.js"></script>
<script src="../../../../assets/js/highlight.pack.min.js"></script>
<script src="../../../../assets/js/select2.min.js"></script>
<script src="../../../../assets/js/bracket.js"></script>