<!-- <link href="../../../../assets/css/all.min.css" rel="stylesheet"> -->
<!-- <link href="../../../../assets/css/ionicons.min.css" rel="stylesheet"> -->
<!-- <link href="../../../../assets/css/github.css" rel="stylesheet"> -->
<!-- <link href="../../../../assets/css/select2.min.css" rel="stylesheet"> -->

<!-- Bracket CSS -->
<link rel="stylesheet" href="../../../../assets/css/theme_admin/bracket.css">

<div class="br-mainpanel">
    <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" routerLink="/">Home</a>
            <a class="breadcrumb-item" href="#">Workouts</a>
            <span class="breadcrumb-item active">Create workouts</span>
        </nav>
    </div><!-- br-pageheader -->

    <div class="br-pagetitle">
        <i class="fa fa-book"></i>
        <div>
            <h4>Create workouts</h4>
            <p class="mg-b-0">Forms are used to collect user information with different element types of input, select,
                checkboxes, radios and more.</p>
        </div>
    </div><!-- d-flex -->

    <div class="br-pagebody">
        <!-- start forms-->
        <div class="br-section-wrapper">
            <!-- white space-->
            <div class="row  col-md-12">

                <div class=" col-md-4 col-sm-12 ">
                    <div class=" ">
                        <div class="form-group">
                            <label>Search Workouts<span class="tx-danger"></span></label>
                            <div class="">
                                <select class="form-control select2-show-search   "
                                    data-placeholder="Choose one (with searchbox)">
                                    <option label="Choose one"></option>
                                    <option value="Bench press">Bench press</option>
                                    <option value="Incline press">Incline press</option>
                                    <option value="Barbel curlWaruna">Barbel curl</option>
                                    <option value="Calves">Calves</option>
                                    <option value="Hamer Curl">Hamer Curl</option>
                                </select>
                            </div><!-- col-4 -->
                        </div>
                    </div>
                </div>

                <div class="mg-t-30 col-md-4 col-sm-12">
                    <!-- <a href="#" class="modal-effect btn btn-primary btn-block" data-effect="effect-newspaper">Add as a
                        new </a> -->
                    <button type="button" class="btn btn-primary" (click)="openModal(addWorkoutModal)">Add as a
                        new</button>
                </div>
                <!-- <div id="modaldemo8" class="modal fade" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content bd-0 tx-14">
                            <div class="modal-header pd-y-20 pd-x-25">
                                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold tx-center">Add new workouts</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="col-md-10 mg-t-20">
                                <div class="form-group">
                                    <label class="form-control-label">Workouts name<span
                                            class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="wname" placeholder="workouts name">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="form-control-label">Other names <span
                                            class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="Oname" placeholder="other names">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="form-control-label">Affected to <span
                                            class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" name="affect" placeholder=" affected">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                    class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Save
                                </button>
                                <button type="button"
                                    class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="br-section-wrapper ">
                <h6 class="br-section-label">Workouts Data Table</h6>
                <p class="br-section-text"></p>

                <div class="table-wrapper" data-select2-id="6">
                    <div>

                        <table class="table table-wrapper">
                            <thead class="thead-light">
                                <tr role="row">
                                    <th scope="col">#</th>
                                    <th scope="col">Workout Name</th>
                                    <th scope="col">Affected To</th>
                                    <th scope="col">Other Names</th>
                                    <th scope="col" style="background-color: rgb(212, 235, 245);">Edit</th>
                                    <th scope="col" style="background-color: rgb(250, 206, 198);">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let workout of workoutsList">
                                    <td>{{workout.workoutid}}</td>
                                    <td>{{workout.workoutname}}</td>
                                    <td>{{workout.effectto}}</td>
                                    <td>{{workout.othernames}}</td>
                                    <td style="text-align: center;"><button class="btn btn-primary"
                                            style="box-shadow: 3px 3px #120561"
                                            (click)="openEditModal(editWorkoutModal, workout)"><i
                                                class="fas fa-edit"></i></button></td>
                                    <td style="text-align: center;"><button style="box-shadow: 3px 3px #460303"
                                            (click)="openConfirmModal(deleteWorkoutModal,workout.workoutid, workout.workoutname)"
                                            class="btn btn-danger"><i class="far fa-trash-alt"></i></button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- table-wrapper -->
        </div>
        <!--end white space-->
    </div>
    <!--white space closed-->
</div>

<!-- Add workout form -->
<ng-template #addWorkoutModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add new workout</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="addWorkoutForm">
            <div class="form-group row">
                <div class="col-sm-8">
                    <label class="form-control-label">Workout name<span class="tx-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="workoutname" placeholder="workout name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <label class="form-control-label">Other names <span class="tx-danger"></span></label>
                    <input class="form-control" type="text" formControlName="othernames" placeholder="Other names">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <label class="form-control-label">Affected to <span class="tx-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="effectto" placeholder=" Affected area">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="addWorkoutForm.invalid" (click)="saveWorkout(addWorkoutForm.value)"
                    class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Save
                    changes</button>
                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
                    (click)="modal.dismiss()">Close</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Update form -->
<ng-template #editWorkoutModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Update workout</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="updateWorkoutForm">
            <div class="form-group row">
                <div class="col-sm-8">
                    <label class="form-control-label">Workout name<span class="tx-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="workoutname" placeholder="workout name">
                    <input class="form-control" type="hidden" formControlName="workoutid">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <label class="form-control-label">Other names <span class="tx-danger"></span></label>
                    <input class="form-control" type="text" formControlName="othernames" placeholder="Other names">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8">
                    <label class="form-control-label">Affected to <span class="tx-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="effectto" placeholder=" Affected area">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="updateWorkoutForm.invalid"
                    (click)="updateWorkout(updateWorkoutForm.value)"
                    class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Save
                    changes</button>
                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
                    (click)="modal.dismiss()">Close</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- Delete confirmation -->
<ng-template #deleteWorkoutModal let-modal>
    <div class="modal-header" style="background-color: rgb(201, 74, 74);color: white;">
        <!-- <h5 class="modal-title">Remove Workout</h5> -->
        <i class="fas fa-exclamation-triangle"></i>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="deleteWorkoutForm">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label style="font-size: large;">Are you sure want to delete? <i class="fa fa-hand-o-right"
                            style="font-size:24px"></i></label>
                    <input type="text" style="border: none;font-weight: bolder;font-size: xx-large;"
                        formControlName="workoutname">
                </div>
                <input type="hidden" formControlName="workoutid">
            </div>

            <div class="modal-footer">
                <button type="button" (click)="deleteWorkout(deleteWorkoutForm.value)"
                    class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Yes, Delete</button>
                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium"
                    (click)="modal.dismiss()">No, Wait</button>
            </div>
        </form>
    </div>
</ng-template>