<!-- Bracket CSS -->
<link rel="stylesheet" href="../../../../assets/css/theme_admin/bracket.css">

<div class="br-mainpanel">
    <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" routerLink="/">Home</a>
            <!-- <a class="breadcrumb-item" href="#">Workout</a> -->
            <span class="breadcrumb-item active">Admin Dashboard</span>
        </nav>
    </div><!-- br-pageheader -->

    <div class="row">
        <div class="col-md-3" style="margin-top: 10px;margin-left: 10px;border-radius: 25px;height: 200px;">
            <div
                style="background-color: rgb(167, 245, 187);color: white; font-family: Calibri;border-top-left-radius: 5px;border-top-right-radius: 5px; height: 70%;">
                <div class="row" style="font-weight: lighter; font-family: Calibri;">
                    <div class="col-md-8" style="margin: 10px;">
                        <h4 style="font-weight: 100;">MEMBERS</h4>
                        <div class="row" style="height: 90px;margin-left: 1px;">
                            <img class="img-responsive" src="../../../../assets/img/group-512.png"
                                style="width: 70px;height: 70px;">
                        </div>
                    </div>
                    <div class="col-md-2" style="height: 125px;margin-left: -40px;">
                        <h1 style="margin-top: 30px; font-size: 60px;">{{memberCount}}</h1>
                    </div>

                </div>

            </div>
            <div class="card-footer"
                style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(218, 214, 214);">
                <div class="stats">
                    <a style="color:rgb(167, 245, 187) ;" href="#" class="warning-link">Redirect To Guidelines</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 10px;margin-left: -10px;border-radius: 25px;height: 200px;">
            <div
                style="background-color: rgb(10, 206, 53);color: white; font-family: Calibri;border-top-left-radius: 5px;border-top-right-radius: 5px; height: 70%;">
                <div class="row" style="font-weight: lighter; font-family: Calibri;">
                    <div class="col-md-8" style="margin: 10px;">
                        <h4 style="font-weight: 100;">ANNOUNCEMENTS</h4>
                        <div class="row" style="height: 90px;margin-left: 1px;">
                            <img class="img-responsive" src="../../../../assets/img/announcement-announce-icon-png-white.png"
                                style="width: 70px;height: 70px;">
                        </div>
                    </div>
                    <div class="col-md-2" style="height: 125px;margin-left: -40px;">
                        <h1 style="margin-top: 30px; font-size: 60px;">{{announcementCount}}</h1>
                    </div>

                </div>

            </div>
            <div class="card-footer"
                style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(218, 214, 214);">
                <div class="stats">
                    <a style="color:rgb(10, 206, 43) ;" href="#" class="warning-link">Redirect To Guidelines</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 10px;margin-left: -10px;border-radius: 25px;height: 200px;">
            <div
                style="background-color: rgb(5, 124, 41);color: white; font-family: Calibri;border-top-left-radius: 5px;border-top-right-radius: 5px; height: 70%;">
                <div class="row" style="font-weight: lighter; font-family: Calibri;">
                    <div class="col-md-8" style="margin: 10px;">
                        <h4 style="font-weight: 100;">PENDING PAYMENTS</h4>
                        <div class="row" style="height: 90px;margin-left: 1px;">
                            <img class="img-responsive" src="../../../../assets/img/approval-128.png"
                                style="width: 70px;height: 70px;">
                        </div>
                    </div>
                    <div class="col-md-2" style="height: 125px;margin-left: -40px;">
                        <h1 style="margin-top: 30px; font-size: 60px;">{{pendingPaymentCount}}</h1>
                    </div>

                </div>

            </div>
            <div class="card-footer"
                style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(218, 214, 214);">
                <div class="stats">
                    <a style="color:rgb(5, 124, 31) ;" href="#" class="warning-link">Redirect To Guidelines</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 10px;margin-left: -10px;border-radius: 25px;height: 200px;">
            <div
                style="background-color: rgb(2, 51, 21);color: white; font-family: Calibri;border-top-left-radius: 5px;border-top-right-radius: 5px; height: 70%;">
                <div class="row" style="font-weight: lighter; font-family: Calibri;">
                    <div class="col-md-8" style="margin: 10px;">
                        <h4 style="font-weight: 100;">EXPIRING SCHEDULES</h4>
                        <div class="row" style="height: 90px;margin-left: 1px;">
                            <img class="img-responsive" src="../../../../assets/img/toppng.com-event-icon-white-event-icon-white-337x349.png"
                                style="width: 70px;height: 70px;">
                        </div>
                    </div>
                    <div class="col-md-2" style="height: 125px;margin-left: -40px;">
                        <h1 style="margin-top: 30px; font-size: 60px;">{{expSchedulesCount}}</h1>
                    </div>

                </div>

            </div>
            <div class="card-footer"
                style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(218, 214, 214);">
                <div class="stats">
                    <a style="color:rgb(2, 51, 13) ;" href="#" class="warning-link">Redirect To Guidelines</a>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row" style="margin-left: 0px; height: 310px;">

        <!-- <div style="height: 300px; width: 300px;display: block;margin-left: 10px;">
            <canvas id="myChart"></canvas>
        </div> -->




        <!-- <div class="col-md-1"></div>
<div class="col-md-9">
<img src="../../../../assets/img/gym_coach.png" style="height: 310px;opacity: 10%;">
</div>
<div class="col-md-2"></div> -->

    </div>

</div>