<!-- Bracket CSS -->
<link rel="stylesheet" href="../../../../assets/css/theme_admin/bracket.css">

<div class="br-mainpanel">
    <div class="br-pageheader">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" routerLink="/">Home</a>
            <!-- <a class="breadcrumb-item" href="#">Workout</a> -->
            <span class="breadcrumb-item active">Admin Dashboard</span>
        </nav>
    </div><!-- br-pageheader -->

    <div class="row">
        <div class="col-md-3" style="margin-top: 10px;margin-left: 10px;border-radius: 25px;height: 200px;">
            <div
                style="background-color: rgb(167, 223, 245);color: white; font-family: Calibri;border-top-left-radius: 5px;border-top-right-radius: 5px; height: 70%;">
                <div class="row" style="font-weight: lighter; font-family: Calibri;">
                    <div class="col-md-7" style="margin: 10px;">
                        <h3>APPROVALS</h3>
                        <div class="row" style="height: 90px;margin-left: 1px;">
                            <img class="img-responsive" src="../../../../assets/img/approval-128.png"
                                style="width: 70px;height: 70px;">
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 125px;">
                        <h1 style="margin-top: 30px; font-size: 60px;">10</h1>
                    </div>

                </div>

            </div>
            <div class="card-footer"
                style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(218, 214, 214);">
                <div class="stats">
                    <a style="color:rgb(167, 223, 245) ;" href="#" class="warning-link">Redirect To Guidelines</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 10px;margin-left: -10px;border-radius: 25px;height: 200px;">
            <div
                style="background-color: rgb(10, 150, 206);color: white; font-family: Calibri;border-top-left-radius: 5px;border-top-right-radius: 5px; height: 70%;">
                <div class="row" style="font-weight: lighter; font-family: Calibri;">
                    <div class="col-md-7" style="margin: 10px;">
                        <h3>APPROVALS</h3>
                        <div class="row" style="height: 90px;margin-left: 1px;">
                            <img class="img-responsive" src="../../../../assets/img/approval-128.png"
                                style="width: 70px;height: 70px;">
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 125px;">
                        <h1 style="margin-top: 30px; font-size: 60px;">10</h1>
                    </div>

                </div>

            </div>
            <div class="card-footer"
                style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(218, 214, 214);">
                <div class="stats">
                    <a style="color:rgb(10, 150, 206) ;" href="#" class="warning-link">Redirect To Guidelines</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 10px;margin-left: -10px;border-radius: 25px;height: 200px;">
            <div
                style="background-color: rgb(5, 90, 124);color: white; font-family: Calibri;border-top-left-radius: 5px;border-top-right-radius: 5px; height: 70%;">
                <div class="row" style="font-weight: lighter; font-family: Calibri;">
                    <div class="col-md-7" style="margin: 10px;">
                        <h3>APPROVALS</h3>
                        <div class="row" style="height: 90px;margin-left: 1px;">
                            <img class="img-responsive" src="../../../../assets/img/approval-128.png"
                                style="width: 70px;height: 70px;">
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 125px;">
                        <h1 style="margin-top: 30px; font-size: 60px;">10</h1>
                    </div>

                </div>

            </div>
            <div class="card-footer"
                style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(218, 214, 214);">
                <div class="stats">
                    <a style="color:rgb(5, 90, 124) ;" href="#" class="warning-link">Redirect To Guidelines</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="margin-top: 10px;margin-left: -10px;border-radius: 25px;height: 200px;">
            <div
                style="background-color: rgb(2, 37, 51);color: white; font-family: Calibri;border-top-left-radius: 5px;border-top-right-radius: 5px; height: 70%;">
                <div class="row" style="font-weight: lighter; font-family: Calibri;">
                    <div class="col-md-7" style="margin: 10px;">
                        <h3>APPROVALS</h3>
                        <div class="row" style="height: 90px;margin-left: 1px;">
                            <img class="img-responsive" src="../../../../assets/img/approval-128.png"
                                style="width: 70px;height: 70px;">
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 125px;">
                        <h1 style="margin-top: 30px; font-size: 60px;">10</h1>
                    </div>

                </div>

            </div>
            <div class="card-footer"
                style="border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(218, 214, 214);">
                <div class="stats">
                    <a style="color:rgb(2, 37, 51) ;" href="#" class="warning-link">Redirect To Guidelines</a>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row" style="margin-left: 10px;">
        <div class="col-md-5" style="display: block;">
            <canvas id="monthlyReport"></canvas>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" style="display: block;">
            <canvas id="annualReport"></canvas>
        </div>
    </div>

</div>