<!-- vendor css -->
<link href="../../../assets/css/all.min.css" rel="stylesheet">
<link href="../../../assets/css/ionicons.min.css" rel="stylesheet">
<link href="../../../assets/css/github.css" rel="stylesheet">
<link href="../../../assets/css/select2.min.css" rel="stylesheet">
<link rel="stylesheet" href="../../../assets/css/theme_admin/bracket.css">

<footer class="br-footer" style="margin-left: 15%;">
    <div class="footer-left">
        <div class="mg-b-2"> 
            <span style="color: rgb(117, 117, 119); font-weight: bolder;">Developed By G.S.G. Wijesinghe </span>
            <span style="color: rgb(59, 59, 61);">| BIT(UCSC)</span>
        </div>
        <div style="color: rgb(59, 59, 61);">Tel: +94714619124</div>
    </div>  
</footer>
